@using MenShopBlazor.DTOs.Product.ViewModel
@{
    var productList = Products.ToList();
    int[] pattern = new int[] { 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4 };
    int patternLength = pattern.Length;
}

<MudGrid Class="@ContainerClass">
    @for (int i = 0; i < productList.Count; i++)
    {
        var item = productList[i];
        var lgSize = pattern[i % patternLength]; 

        <MudItem xs="6" sm="6" md="4" lg="@lgSize">
            <MudCard Class="custom-card" @onclick="() => OnCardClick.InvokeAsync(item)">
                <MudCardMedia Image="@item.Thumbnail" Height="300" />
                <MudCardContent Style="height: 80px;">

                    <MudText Typo="Typo.body1">
                        @item.ProductName <span>@item.ProductDetailId</span>

                    </MudText>
                    <MudStack Row="true">
                        <MudText Typo="Typo.body1">
                            <MudText style="@(item.DiscountPercent > 0 ? "text-decoration: line-through; color: gray;" : "")">
                                @(item.Price.HasValue? item.Price.Value.ToString("N0") : "Liên hệ")
                            </MudText>
                        </MudText>

                        @if (item.DiscountPercent > 0)
                        {
                            <MudText Typo="Typo.body1" Class="ms-2">
                                <strong>
                                    @(item.SellPrice.HasValue? item.SellPrice.Value.ToString("N0") : "Liên hệ")
                                </strong>
                            </MudText>
                        }
                    </MudStack>

                    @if (item.DiscountPercent > 0)
                    {
                        <MudText Typo="Typo.body2" Class="ms-2" Style="@($"color:{Colors.Red.Lighten1};")">- @item.DiscountPercent.Value.ToString("N0")%
                        </MudText>
                    }

                </MudCardContent>
                <MudCardActions>
                    <MudToggleIconButton @bind-Toggled="@item.IsFavorite"
                                         Icon="@Icons.Material.Filled.FavoriteBorder"
                                         Color="@Color.Default"
                                         ToggledIcon="@Icons.Material.Filled.Favorite"
                                         ToggledColor="@Color.Error" />
                </MudCardActions>
            </MudCard>
        </MudItem>
    }
</MudGrid>



@if (ShowScrollToTop)
{
    <MudScrollToTop>
        <MudFab Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.ArrowUpward" />
    </MudScrollToTop>
}
@code {
    [Parameter] public IEnumerable<ProductColorViewModel>? Products { get; set; }
    [Parameter] public string? Header { get; set; }
    [Parameter] public string? ContainerClass { get; set; }
    [Parameter] public bool ShowScrollToTop { get; set; } = false;
    [Parameter] public EventCallback<ProductColorViewModel> OnCardClick { get; set; }
}
